    <section class="mt-4 mb-5">
        <div class="row g-3 mb-5">

        <div class="col-md-2">
          <a href="/admin/usuarios" class="quick-btn">
            <i class="bi bi-people fs-1"></i>
            <h6 class="mt-2 fw-bold">Usuarios</h6>
          </a>
        </div>

        <div class="col-md-2">
          <a href="/admin/peluqueros" class="quick-btn">
            <i class="bi bi-scissors fs-1"></i>
            <h6 class="mt-2 fw-bold">Peluqueros</h6>
          </a>
        </div>

        <div class="col-md-2">
          <a href="/admin/horarios" class="quick-btn">
            <i class="bi bi-clipboard2 fs-1"></i>
            <h6 class="mt-2 fw-bold">Horarios</h6>
          </a>
        </div>

        <div class="col-md-2">
          <a href="/admin/productos" class="quick-btn">
            <i class="bi bi-box-seam fs-1"></i>
            <h6 class="mt-2 fw-bold">Productos</h6>
          </a>
        </div>

        <div class="col-md-2">
          <a href="/admin/pedidos" class="quick-btn">
            <i class="bi bi-cart-check fs-1"></i>
            <h6 class="mt-2 fw-bold">Pedidos</h6>
          </a>
        </div>

      </div>
      </section>