body{
    background-color: #d8d7d8;
}
.main-card {
    width: 60%;
    margin-top: 20px;
    background: #fcfcfc;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.table th {
    background: #1c1c1c;
    color: white;
}

.btn-sm {
    border-radius: 6px;
}

.btn-primary{
    background-color:#5c49dc ;
    border: #5c49dc solid 1px;
}

.btn-primary:hover{
    background-color:#634775 ;
    border: #634775 solid 1px;
}

.bi-clipboard2{
    color:#382d84;
}

.fw-bold{
    color:#382d84;
}

