body {
    background: #090909;
}

.main-card {
    width: 60%;
    margin-top: 20px;
    background: #f1efef;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.table th {
    background: #1c1c1c;
    color: white;
}

.btn-sm {
    border-radius: 6px;
}